body {
  background: #f6f6f6;
  margin: 0;
  font-family: 'Montserrat', sans-serif, 'Segoe UI', Tahoma, Geneva, Verdana,
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #2b2b2b;
}

*,
html {
  box-sizing: border-box;
}
